/**{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}*/


/* barra menu*/
#logoCodo {
	height: 70px;
	padding-bottom: none;
}

/*Pantalla principal de vista*/

#principal.container-fluid{
	margin-bottom: 2%;
}

#fondo.row{
	background-image: url(../images/edificio_ba1.jpeg);
	height: 80vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
}

#h1.conferencia{
	padding-left: 200px;
}

/*Discripción de oradores*/
#oradores.container{
	padding-top: 2%;
}



.card-img {
	height: 75%;
	object-fit: cover;
}

.card {
	height: 60vh;
}

/*Descripción turística*/
#texto_bsas.container-fluid {
	background-color: rgb(36, 35, 35);
	color: white;
	margin-top: 2%;
	margin-bottom: 2%;
}

#txtba{
	margin-top: 5%;
}
	

/*formulario*/

#formulario{
	background-color: azure;
	margin-top: -25px;
	padding-top: 20px;
}

/*tarifas*/
.flex-container{
	display: flex;
	padding: 10px;
	justify-content: center;
}

#estudiante{
	border: 3px solid blue;
	padding: 20px;
	text-align: center;
	margin: 10px;
}

#trainee{
	border: 3px solid lightblue;
	padding: 20px;
	text-align: center;
	margin: 10px;
}

#junior{
	border: 3px solid greenyellow;
	padding: 20px;
	text-align: center;
	margin: 10px;
}

#total{
	display: flex;
	padding: auto;
	margin: 10px;
}

#totalPagar{
	background-color:rgb(204, 231, 252);
	border: 1px solid rgb(106, 170, 243);
	color: darkslateblue;
	width: 720px;
	height: 40px;
	padding-top: 3px;
	padding-left: 25px;
	font-weight: 800;
	text-align: center;
	font-size: larger;
}

/*menu al pie*/
footer{
		padding-top: 1%;
}
#menupie{
	background-image: linear-gradient(to right, rgb(33, 54, 54), rgb(1, 83, 92));
	padding: 1%;
	}